.photos-app {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photos-app .header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  box-sizing: border-box;
}

.photo-thumbnail {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  height: 70px;
}

.photo-thumbnail:hover {
  opacity: 0.6;
}

.photo-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo-view {
  width: 100%;
  text-align: center;
}

.photo-container {
  position: relative;
}

.photo {
  width: 300px;
  height: 600px;
  margin: 20px 0;
  object-fit: cover;
}

.prev-button,
.next-button,
.back-button {
  background-color: #3333336c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 25px;
}

.prev-button:hover,
.next-button:hover,
.back-button:hover {
  background-color: #555;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  border: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.back-button {
  margin-top: 20px;
  left: 10px;
}

.location-container {
  position: absolute;
  margin-top: 20px;
  top: 25px;
  right: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.location-icon {
  font-size: 24px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.location-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  right: 30px;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
  font-size: 12px;
}
