.locked-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
}

.locked-icon {
  font-size: 35px;
}

.unlock-info {
  font-size: 18px;
}

.pin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-display {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.pin-box {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pin-box.filled {
  background-color: rgba(255, 255, 255, 0.4);
}

.pin-keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  gap: 15px;
}

.pin-keypad button {
  height: 55px;
  width: 55px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pin-keypad button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.pin-keypad button:nth-child(10) {
  grid-column: 2;
  grid-row: 4;
}

.delete-btn {
  grid-column: 3;
  grid-row: 4;
  background-color: rgba(255, 0, 0, 0.7);
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 16px;
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  80% {
    transform: translateX(-10px);
  }
  40%,
  60% {
    transform: translateX(10px);
  }
}
