.mail-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
  color: white;
}

.mail-app .header {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
  justify-content: center;
}

.mail-list {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mail-preview {
  padding: 6px 10px;
  cursor: pointer;
  background-color: #181818;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mail-preview:hover {
  background-color: #3e3e3e;
}

.subject {
  font-weight: 600;
  font-size: 0.95em;
  margin: 0;
  color: #fff;
  line-height: 1.2;
}

.sender-date-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  color: #999;
}

.sender {
  margin: 0;
  font-size: 0.9em;
  color: #949494;
}

.date {
  margin: 0;
}

.body-preview {
  font-size: 0.75em;
  color: #777;
  margin: 0;
  line-height: 1.2;
}

.mail-detail {
  padding: 10px;
}

.mail-app .back-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 0;
}

.email-meta {
  margin-bottom: 10px;
}

.email-body {
  font-size: 0.95em;
  line-height: 1.5;
}

.date {
  font-size: 0.75em;
  color: #666;
  margin-top: 4px;
}
