.home-screen {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  top: 45px;
}

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.app-icon img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: #fff;
}

.app-icon p {
  color: white;
  font-size: 12px;
  margin-top: 5px;
}
